<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wxjz.module_aliyun">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity
            android:name=".activity.LandscapeVideoActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".NineGridView.PhotoActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>
